@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
    background: rgb(50, 150, 250);
    font-family: 'Acme', sans-serif;
    font-size: 13pt;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}
footer {
    color: white;
    text-align: center;
}

input {
    text-align: center;
    width: 100px;
    font-family: 'Acme', sans-serif;
}

div#saida {
   margin-top: 10px;
}